body {
  background: #000;
  display: flex;
  flex-direction: column;
  font-family: 'Monda', monospace;
  height: 760px;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

cartridge, name, blurb, pushbutton {
  display: block;
}

.main-title {
  background: #000;
  color: #fff;
  font-family: 'Amatic SC', monospace;
  font-size: 60px;
  height: 15%;
  letter-spacing: 20px;
  line-height: 100px;
  text-align: center;
}

.cartridge-list {
  align-items: center;
  background: #101;
  display: flex;
  flex-direction: row;
  height: 25%;
  justify-content: center;
}

cartridge {
  background-image: url('assets/texture-underlay.png');
  background-size: contain;
  background-repeat: no-repeat;
  filter: blur(2px);
  height: 170px;
  position: absolute;
  margin-top: 0px;
  transition: transform .5s, left .5s, filter .5s;
  width: 280px;
}

.centered {
  filter: blur(0px);
  left: 50%;
  transform: translateX(-50%);
}

.left {
  left: 20%;
  transform: translateX(-50%);
}

.right {
  left: 80%;
  transform: translateX(-50%);
}

.offleft {
  left: -25%;
  transform: translateX(-50%);
}

.offright {
  left: 125%;
  transform: translateX(-50%);
}

cartridge > img {
  height: 122px;
  left: 16px;
  position: relative;
  top: 32px;
  width: 122px;
}

cartridge > section > name {
  background: rgba(255, 255, 255, .1);
  font-size: 15px;
  left: 140px;
  height: 26px;
  border-bottom-left-radius: 12px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 140px;
}

cartridge > section > blurb {
  font-size: 11px;
  height: 110px;
  padding: 4px;
  position: absolute;
  left: 146px;
  text-align: right;
  top: 32px;
  width: 110px;
}

.main-display-section {
  background: #000;
  display: flex;
  height: 53%;
  justify-content: center;
  margin-top: 7%;
}

.main-display {
  align-items: center;
  background: #706075;
  background-image: url('assets/peeling-paint.jpg');
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 70%;
  z-index: 1;
}

.main-display > img {
  height: 80%;
  margin-left: 8%;
  width: auto;
}

.main-display > section {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 20%;
  height: 300px;
  width: 30%;
}

.main-display > section > name {
  display: block;
  font-family: 'Amatic SC';
  font-size: 60px;
  text-align: right;
  height: 20%;
}

.main-display > section > blurb {
  display: block;
  font-size: 18px;
  text-align: right;
  padding-left: 20%;
  padding-top: 10%;
  height: 80%;
}

controls {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  right: 0;
  width: 240px;
}

.cycle-left, .cycle-right, .start-game {
  height: 64px;
  transition: transform .2s;
  transform: translateY(0);
  width: 64px;
}

.cycle-left:hover, .cycle-right:hover, .start-game:hover {
  cursor: pointer;
  transform: translateY(3px);
}

.start-game {
  background: #222;
  color: #fff;
  font-family: 'Amatic SC';
  font-size: 40px;
  line-height: 60px;
  text-align: center;
}

.cycle-right {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 50px solid #222;
}

.cycle-left {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 50px solid #222;
}
