body {
  background: #000;
  display: flex;
  flex-direction: column;
  font-family: 'Monda', monospace;
  height: 760px;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

cartridge, name, blurb {
  display: block;
}

.main-title {
  background: #000;
  color: #fff;
  font-family: 'Amatic SC', monospace;
  font-size: 60px;
  height: 15%;
  letter-spacing: 20px;
  line-height: 100px;
  text-align: center;
}

.cartridge-list {
  align-items: center;
  background: #213;
  display: flex;
  flex-direction: row;
  height: 25%;
  justify-content: center;
}

cartridge {
  background-image: url('assets/texture-underlay.png');
  background-size: contain;
  background-repeat: no-repeat;
  filter: blur(2px);
  height: 170px;
  position: absolute;
  width: 280px;
}

.centered {
  filter: blur(0px);
  left: 50%;
  transform: translateX(-50%);
}

.left {
  left: 20%;
  transform: translateX(-50%);
}

.right {
  left: 80%;
  transform: translateX(-50%);
}

.offleft {
  left: -25%;
  transform: translateX(-50%);
}

.offright {
  left: 125%;
  transform: translateX(-50%);
}

cartridge > img {
  height: 122px;
  left: 16px;
  position: relative;
  top: 32px;
  width: 122px;
}

cartridge > section > name {
  background: rgba(255, 255, 255, .1);
  font-size: 14px;
  left: 140px;
  height: 26px;
  border-bottom-left-radius: 12px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 140px;
}

cartridge > section > blurb {
  font-size: 11px;
  height: 110px;
  padding: 4px;
  position: absolute;
  left: 146px;
  text-align: right;
  top: 32px;
  width: 110px;
}

.main-display-section {
  background: #000;
  height: 60%;
}
